# Base de datos
POSTGRES_DB=gymdb
POSTGRES_USER=gymuser
POSTGRES_PASSWORD=cambia_esta_password

# Django
DJANGO_SECRET_KEY=cambia_esta_clave_secreta_minimo_50_caracteres
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Frontend
VITE_API_URL=http://localhost:8000