# Variables de entorno — NUNCA subir
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Node
node_modules/
dist/
dist-ssr/

# Base de datos local
*.sqlite3

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/